.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pipelineControls {
  margin-bottom: 20px;
}

.collection {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: 'red';
  padding: 20px;
  border: 1px solid black;
}

.documents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.document {
  flex-basis: 200px;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px #888;
  background: rgba(255, 255, 255, 0.8)
}

.result {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.stage {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flowing {
  background-size: 200% 200%;
  animation: flowing 5s linear infinite;
}

.broken {
  background: #fcc;
}

.working {
  background-image: 
    repeating-linear-gradient(
      0deg, 
      #afa,
      transparent 25%
    );
}

.starving {
  background: #888;
}

@keyframes flowing {
  100% {
    background-position: 0% -100%;
  }
}

.arrowDown {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid #aaa;
  margin-bottom: 20px;
}

form {
  flex: 1;
}

.deleter {
  flex-basis: 1px;
  margin-left: 10px;
  height: 40px;
}

.null {
  color:#666
}

.viewport {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.toolbox {
  z-index: 10;
  background: white;
  box-shadow: 0px 0px 10px black;
  padding: 20px;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

