.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pipeline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collection {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 600px;
  background: 'red';
  padding: 20px;
  border: 1px solid black;
}

.documents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.document {
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px #888;
  background:#eee;
}

.levelSelect {
  max-width: 600px;
  margin-bottom: 20px;
}

.document p {
  margin: 0px;
}
.warning {
  padding: 10px 20px;
  background: yellow;
  border: 1px solid black;
}

.flavor {
  border-radius: 20px;
  padding: 20px;
  background: #ffd;
  box-shadow: 5px 5px #888;
  margin-bottom: 20px;
}

.flavor p {
  font-size: 18pt;
}

.document > label, .collection > label, .flavor > label  {
  text-transform: uppercase;
  color: #666;
  font-family: Courier, Monaco, monospace;
  flex: 1;
  text-align: center;
}

.result {
  display: flex;
  flex-direction: column;
}

.stage {
  min-width: 600px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flowing {
  background-size: 200% 200%;
  animation: flowing 5s linear infinite;
}

.broken {
  background: #fcc;
}

.working {
  background-image:
    repeating-linear-gradient(
      0deg,
      #afa,
      transparent 25%
    );
}

.starving {
  background: #888;
}

@keyframes flowing {
  100% {
    background-position: 0% -100%;
  }
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid #aaa;
}

form {
  flex: 1;
}

.deleter {
  flex-basis: 1px;
  margin-left: 10px;
  height: 40px;
}

.null {
  color:#666
}

.viewport {
  padding-right: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbox {
  height: 100px;
  z-index: 10;
  background: white;
  box-shadow: 0px 0px 10px black;
  padding: 20px;
  position: fixed;
  bottom:0;
  right:0;
  left: 0;
  display: flex;
  border: 1px solid black;
}

.welcome {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0px;
}

.welcome p {
  width: 60%;
}

.toolbox .tray {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tool {
  width: 75px;
  height: 25px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
  border-radius: 5px;
}

.dropzone {
  padding: 20px;
  border: 1px dashed black;
  margin: 20px;
  border-radius: 10px;
}

.dropzone.available {
  background: #eee;
  margin: 20px 5px;
}

.dropzone.active {
  background: #ddd;
  margin: 20px 0px;
}
